.container {
  display: grid;
  place-items: center;
  margin-top: 4rem;
}
.basket {
  display: flex;
  flex-grow: 1;
  max-width: 1074px;
}
.btnBorrarTodo {
  margin: 0 0 2rem 2rem;
}

@media (max-width: 1000px) {
  .basket {
    display: flex;
    flex-direction: column-reverse;
  }
  .totalBasket {
    margin-right: auto;
  }
}
