.imgParent {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.myText {
  text-align: center;
  color: #212529;
  width: 60vw;
  margin-top: 4rem;
}
.emptyIcon > img {
  width: 50vw;
  height: 50vh;
}

@media (max-width: 650px) {
  .imgParent > h1 {
    font-size: 5vw;
  }
}
